<section class="about">
  <article class="about-text">
    <p>
      👋 Hi there! My name is Hassan, and I'm a Senior Software Engineer at <a href="https://github.com/">GitHub</a>.
      I've been based in Germany since 2021. I'm a <a href="https://en.wikipedia.org/wiki/Palestinians_in_Lebanon">Palestinian-Lebanese</a> who grew up in a lovely city called <a href="https://en.wikipedia.org/wiki/Sidon">Saida</a>, on the southern coast of Lebanon.
      I'm a husband, a good friend to those around me, and the proud owner of a cool feline named Shadow.
      In my free time, I enjoy binge-watching shows, meeting new people, and occasionally cooking.

      I've always been hesitant to share my thoughts, worrying about people's judgment. However, very recently (as of writing this), I decided to step out of my comfort zone and start writing.
      I hope you'll join me on this journey as I share my experiences, insights, and musings on everything from tech and career challenges to everyday adventures. After all, life's too short not to share our stories! 🤗
    </p>
  </article>

  <!-- dividor -->
  <hr>

<h3>📸 A Few Moments from My Life</h3>

<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
  <img src="assets/about/img/me-and-wife.jpeg" alt="Me and my wife" style="object-fit: cover; width: 100%; height: 300px;">
  <img src="assets/about/img/me-and-cat.jpeg" alt="Me and my cat" style="object-fit: cover; width: 100%; height: 300px;">
  <img src="assets/about/img/me-and-friend.jpeg" alt="Me and my best friend" style="object-fit: cover; width: 100%; height: 400px; grid-column: span 2;">
</div>
